---
import { getCollection, render } from 'astro:content';
import { slugify } from '../../utils/common-utils';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Youtube from '@/components/YoutubeEmbed';
import SoundCloud from '@/components/SoundCloudEmbed';
import type { WorkType } from '@/content.config';
import { removeTemplates } from '@/utils/data-utils';

interface Props {
    work: {
        data: WorkType;
    };
}

export async function getStaticPaths() {
    const works = await getCollection('works');
    const cleanWorks = removeTemplates(works);

    return cleanWorks.map((work: { data: WorkType }) => {
        return {
            params: { single: slugify(work.data.title) },
            props: { work },
        };
    });
}

const { work } = Astro.props;
const { audio, commissioner, ensemble, length, premiere, title, video, instrumentation } = work.data;
const { Content } = await render(work as any);
---

<BaseLayout title={title}>
    <h1 class="title">{title}</h1>
    <div class="page-wrapper">
        <section>
            <div class="grid">
                <div><b>Ensemble:</b> {ensemble} ({instrumentation})</div>
                <div><b>Duration:</b> {length} minutes</div>
                <div><b>Commissioned by:</b> {commissioner}</div>
                <div><b>Premiere:</b> {premiere}</div>
            </div>

            <div class="content-wrapper"><Content /></div>
        </section>

        <aside>
            {video && <Youtube client:load url={video} title={title} width="100%" style={{ maxWidth: '100vw', marginInline: 'auto' }} />}
            {audio && <SoundCloud client:visible url={audio} width="100%" style={{ maxWidth: '100vw', marginInline: 'auto' }} />}
        </aside>
    </div>
</BaseLayout>

<style>
    .page-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        & > * {
            flex: 1 1 20rem;
        }

        & > section {
            min-width: 20rem;
        }
    }
    .grid {
        display: grid;
        gap: 0.25rem;
    }

    .content-wrapper {
        margin-block: 2rem;
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
</style>
