---
import { getCollection, render } from 'astro:content';
import { slugify } from '../../utils/common-utils';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Youtube from '@/components/YoutubeEmbed';
import SoundCloud from '@/components/SoundCloudEmbed';
import type { WorkType } from '@/content.config';
import { removeTemplates } from '@/utils/data-utils';

interface Props {
    work: {
        data: WorkType;
    };
}

export async function getStaticPaths() {
    const works = await getCollection('works');
    const cleanWorks = removeTemplates(works);

    return cleanWorks.map((work: { data: WorkType }) => {
        return {
            params: { single: slugify(work.data.title) },
            props: { work },
        };
    });
}

const { work } = Astro.props;
const { audio, commissioner, ensemble, duration, premiere, title, video, instrumentation, extraNotes, programNotes } = work.data;
const { Content } = await render(work as any);
---

<BaseLayout title={title}>
    <div class="variable-provider">
        <h1 class="title">{title}</h1>
        <div class="page-wrapper">
            <section>
                <div class="grid">
                    <div>
                        <b>Ensemble:</b>
                        {ensemble}
                        {instrumentation && <span>({instrumentation})</span>}
                    </div>
                    <div><b>Duration:</b> {duration} minutes</div>
                    <div><b>Commissioned by:</b> {commissioner}</div>
                    <div><b>Premiere:</b> {premiere}</div>
                    {
                        programNotes && (
                            <div>
                                <b>Program Notes:</b> <a href={programNotes}>Program notes</a>
                            </div>
                        )
                    }
                    {
                        extraNotes && (
                            <ul class="extra-notes">
                                {extraNotes.map((note: string) => (
                                    <li>{note}</li>
                                ))}
                            </ul>
                        )
                    }
                </div>
            </section>

            <aside>
                {audio && <SoundCloud client:visible url={audio} width="100%" style={{ maxWidth: '100vw', marginInline: 'auto' }} />}
            </aside>
            {video && <Youtube client:load url={video} title={title} width="100%" style={{ maxWidth: '100vw', marginInline: 'auto' }} />}
        </div>

        {
            Content.length > 0 && (
                <div class="content-wrapper">
                    <Content />
                </div>
            )
        }
    </div>
</BaseLayout>

<style>
    .variable-provider {
        --section-separator: 2rem;
        --list-separator: 0.25rem;
    }
    .title {
        border-block-end: 1px solid hsl(var(--color-border-primary));
        margin-block-end: var(--section-separator);
    }

    .page-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        & > * {
            flex: 1 1 20rem;
        }

        & > section {
            min-width: 20rem;
        }
    }
    .grid {
        display: grid;
        gap: var(--list-separator);
    }

    .content-wrapper {
        margin-block: 2rem;
        padding-block-start: var(--section-separator);
        border-block-start: 1px solid hsl(var(--color-border-primary));
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .extra-notes {
        margin-block-start: 1rem;
        display: grid;
        gap: var(--list-separator);
    }
</style>
