---
const { source, className } = Astro.props;

import {
    IoCall,
    IoGlobeOutline,
    IoLogoFacebook,
    IoLogoFoursquare,
    IoLogoInstagram,
    IoLogoLinkedin,
    IoLogoMastodon,
    IoLogoMedium,
    IoLogoPinterest,
    IoLogoReddit,
    IoLogoSoundcloud,
    IoLogoTiktok,
    IoLogoTumblr,
    IoLogoTwitter,
    IoLogoVimeo,
    IoLogoYoutube,
    IoMail,
} from 'react-icons/io5';

const {
    email,
    facebook,
    foursquare,
    instagram,
    linkedin,
    mastodon,
    medium,
    phone,
    pinterest,
    reddit,
    soundcloud,
    tiktok,
    tumblr,
    twitter,
    vimeo,
    website,
    youtube,
} = source;

const size = '1.2rem';
---

<ul class={'social-links ' + className}>
    {
        twitter && (
            <li class="inline-block">
                <a aria-label="twitter" href={twitter} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoTwitter size={size} />
                </a>
            </li>
        )
    }
    {
        mastodon && (
            <li class="inline-block">
                <a aria-label="mastodon" href={mastodon} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoMastodon size={size} />
                </a>
            </li>
        )
    }
    {
        instagram && (
            <li class="inline-block">
                <a aria-label="instagram" href={instagram} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoInstagram size={size} />
                </a>
            </li>
        )
    }
    {
        youtube && (
            <li class="inline-block">
                <a aria-label="youtube" href={youtube} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoYoutube size={size} />
                </a>
            </li>
        )
    }
    {
        linkedin && (
            <li class="inline-block">
                <a aria-label="linkedin" href={linkedin} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoLinkedin size={size} />
                </a>
            </li>
        )
    }
    {
        medium && (
            <li class="inline-block">
                <a aria-label="medium" href={medium} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoMedium size={size} />
                </a>
            </li>
        )
    }
    {
        pinterest && (
            <li class="inline-block">
                <a aria-label="pinterest" href={pinterest} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoPinterest size={size} />
                </a>
            </li>
        )
    }
    {
        soundcloud && (
            <li class="inline-block">
                <a aria-label="soundcloud" href={soundcloud} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoSoundcloud size={size} />
                </a>
            </li>
        )
    }
    {
        tumblr && (
            <li class="inline-block">
                <a aria-label="tumblr" href={tumblr} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoTumblr size={size} />
                </a>
            </li>
        )
    }
    {
        reddit && (
            <li class="inline-block">
                <a aria-label="reddit" href={reddit} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoReddit size={size} />
                </a>
            </li>
        )
    }
    {
        facebook && (
            <li class="inline-block">
                <a aria-label="facebook" href={facebook} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoFacebook size={size} />
                </a>
            </li>
        )
    }
    {
        vimeo && (
            <li class="inline-block">
                <a aria-label="vimeo" href={vimeo} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoVimeo size={size} />
                </a>
            </li>
        )
    }
    {
        tiktok && (
            <li class="inline-block">
                <a aria-label="tiktok" href={tiktok} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoTiktok size={size} />
                </a>
            </li>
        )
    }
    {
        foursquare && (
            <li class="inline-block">
                <a aria-label="foursquare" href={foursquare} target="_blank" rel="noopener noreferrer nofollow">
                    <IoLogoFoursquare size={size} />
                </a>
            </li>
        )
    }
    {
        website && (
            <li class="inline-block">
                <a aria-label="website" href={website} target="_blank" rel="noopener noreferrer nofollow">
                    <IoGlobeOutline size={size} />
                </a>
            </li>
        )
    }
    {
        email && (
            <li class="inline-block">
                <a aria-label="email" href={`mailto:${email}`}>
                    <IoMail size={size} />
                </a>
            </li>
        )
    }
    {
        phone && (
            <li class="inline-block">
                <a aria-label="telephone" href={`tel:${phone}`}>
                    <IoCall size={size} />
                </a>
            </li>
        )
    }
</ul>

<style>
    .social-links {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        width: fit-content;

        nav & {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 768px) {
        .social-links.social-links {
            display: flex;
            flex-wrap: wrap;
            /* justify-content: end; */
        }
    }
</style>
