---
import { slugify } from '@/utils/common-utils';
import Youtube from '@/components/YoutubeEmbed';

const { work } = Astro.props;

const { title, category, premiere, date, duration, year, commissioner, ensemble, video, audio } = work.data;

const slug = `/works/${slugify(title)}`;
---

<div>
    <a href={slug}>{title} for {ensemble}</a>
    <div>premiere: {premiere}</div>
    <div>year: {year}</div>
    {video && <Youtube client:load url={video} title={title} />}
</div>

<style>
    a {
        font-size: var(--fs-400);
    }
</style>
